<!DOCTYPE html>
<html ng-app="websiteListApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.css">
    <link rel="stylesheet" href="/css/mystyles.css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-resource.js"></script>
    <script type="text/javascript" src="/js/smart-table.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
    <script type="text/javascript" src="/js/controllers/websiteTable-controller.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand website-title" href="#" style="color: white;">Website Uptime Monitoring</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav pull-right" id="check_summary">
                    <li id="all_up" style="display:none;"><span class="label label-success">Up</span><strong class="green">0</strong></li>
                    <li id="all_down" style="display: none;"><span class="label label-important">Down</span><strong class="red">0</strong></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
    <div ng-controller="websiteTable">
        <table st-table="webResult" class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>URL</th>
                    <th>Poll Interval</th>
                    <th>Mail ID</th>
                    <th>Mobile Number</th>
                    <th>Mobile Provider</th>
                    <th>Status Code</th>
                    <th>Up/Down</th>
                    <th>Response Time</th>
                    <th>Delete  </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in webResult">
                    <td>{{row.name}}</td>
                    <td>{{row.url}}</td>
                    <td>{{row.pollInterval}}</td>
                    <td>{{row.mailID}}</td>
                    <td>{{row.mobileNumber}}</td>
                    <td>{{row.mobileProvider}}</td>
                    <td>{{row.statusCode}}</td>
                    <td>
                        <div ng-switch on="row.isUp">
                            <span class="btn btn-sm btn-success" ng-switch-when="true">
                                <i class="glyphicon glyphicon-upload"></i>
                            </span>
                            <span class="btn btn-sm btn-success" ng-switch-when="false">
                                <i class="glyphicon glyphicon-download"></i>
                            </span>
                            <span class="btn btn-sm btn-warning" ng-switch-default>
                                <i class="glyphicon glyphicon-time"></i>
                            </span>
                        </div>
                    </td>
                    <td>{{row.responseTime}}</td>
                    <td>
                        <div class="buttons" ng-show="!row.$visible">
                            <button class="btn btn-danger" ng-click="removeUser($index)">del</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>